@{
    ViewData["Title"] = "Home Page";
}

<h2 class="text-lg-center">Welcome to a simple movie tracker database</h2>
<p>To build this web app, I used the Microsoft MVC tutorials.</p>
<p>To enter the database, click the MovieApp link at the top of the page</p>
